<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>svmeal-api</display-name>

    <servlet>
        <servlet-name>svmeal-endpoint</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>io.swagger.jaxrs.listing,nu.peg.svmeal.endpoint</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>svmeal-endpoint</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <!--suppress ServletWithoutMappingInspection -->
        <servlet-name>SwaggerConfig</servlet-name>
        <servlet-class>io.swagger.jersey.config.JerseyJaxrsConfig</servlet-class>
        <init-param>
            <param-name>api.version</param-name>
            <param-value>1.0.1</param-value>
        </init-param>
        <init-param>
            <param-name>swagger.api.basepath</param-name>
            <param-value>https://svmeal-api.jmnw.me/</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <!--<servlet>-->
    <!--<servlet-name>Jersey REST Service</servlet-name>-->
    <!--<servlet-class>-->
    <!--com.sun.jersey.spi.container.servlet.ServletContainer-->
    <!--</servlet-class>-->
    <!--<init-param>-->
    <!--<param-name>com.sun.jersey.config.property.packages</param-name>-->
    <!--<param-value>sample.hello.resources</param-value>-->
    <!--</init-param>-->
    <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>Jersey REST Service</servlet-name>-->
    <!--<url-pattern>/rest/*</url-pattern>-->
    <!--</servlet-mapping>-->

</web-app>
